# Data generation
faker==19.13.0
pandas==2.2.2

# Database connectors
snowflake-connector-python==3.12.0
google-cloud-bigquery==3.25.0
psycopg2-binary==2.9.9      # PostgreSQL / Redshift

# Orchestration
apache-airflow==2.7.3       # newer stable version

# Data quality & testing
great-expectations==1.32.4

# Utilities
python-dateutil==2.9.0

# Streaming & Dashboard
kafka-python==2.0.2
pyspark==3.5.1
streamlit==1.30.0
